# Ignorer tous les fichiers .env
.env

# Ignorer tous les fichiers config.yaml dans le dossier infrastructure/config
/infrastructure/config/config.yaml

# Autres fichiers et dossiers à ignorer
*.log
*.out
*.exe
*.tmp
*.swp
vendor/

# Ignorer tous les fichiers dans bin/, mais pas le dossier ni .gitkeep
bin/*
!bin/.gitkeep

# Ignorer tous les fichiers dans build/
build/

# Système
.DS_Store
